<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
<nav class='navbar navbar-default navbar-static-top'>
  <div class="container">
    <ul class=nav navbar-nav>
      <li><a class="navbar-brand" href="{% url 'index' %}">DJANGO</a></li>
      <li><a class="navbar-link"  href="{% url 'admin:index' %}">admin</a></li>
      <li><a class="navbar-link"  href="{% url 'basicapp:register' %}">register</a></li>
{% if user.is_authenticated %}
<li><a class='navbar-link' href="{% url 'logout' %}">LOGOUT</a></li>
{% else %}
<li> <a class='navbar-link' href="{% url 'basicapp:user_login' %}"><\a>LOGIN</li>
{% endif %}

    </ul>

  </div>

</nav>
<div class="container">


{% block body_block %}


{% endblock %}
</div>
  </body>
</html>
